<h1><%= @list.name %></h1>

<h3>Tasks</h3>
  <% @tasks.each do |task| %>
  <li>
    <%= task.name %>
    <%= link_to "Remove", list_task_path(task), method: :delete, data: { confirm: "Are you sure you want to remove this task?"}  %>
  </li>
  <% end %>

<p><%= link_to "Add new task", new_task_path %></p>
